@charset "UTF-8";
/** Utils  */ /** Сброс стилей списков  */
/** Общие характеристики кнопки  */
.portfolio-nav__button, .mailing__button, .portfolio-nav__button--curent, .hero__button {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav__button:hover, .mailing__button:hover, .portfolio-nav__button--curent:hover, .hero__button:hover, .portfolio-nav__button:focus, .mailing__button:focus, .portfolio-nav__button--curent:focus, .hero__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.mailing__button, .portfolio-nav__button--curent, .hero__button {
  color: #FFFFFF;
  background-color: #2196F3;
}
.mailing__button:hover, .portfolio-nav__button--curent:hover, .hero__button:hover, .mailing__button:focus, .portfolio-nav__button--curent:focus, .hero__button:focus {
  background-color: #188CE8;
}

.modal__button-close {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  fill: #000000;
  border: 1px solid lightgray;
  border-radius: 50%;
  cursor: pointer;
}
.modal__button-close:hover, .modal__button-close:focus {
  fill: #2196F3;
}

.hidden {
  /**   Скрытие контента    */
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/** Common-settings  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  padding: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/**  Сброс стилей у списков   */
.list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**Общий контейнер  */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/** Общий класс для всех секций  */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/** Общие наборы карточек   */
.list-set {
  display: flex;
}

.list-set__item:not(:last-child) {
  margin-right: 30px;
}

/**Карточки для Партфолио   */
.list-set--card {
  flex-wrap: wrap;
}

.list-set__item--card {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-set__item--card:nth-child(3n) {
  margin-right: 0px;
  /**  К каждому 3-му    */
}
.list-set__item--card:nth-last-child(-n+3) {
  /**Последние 3 елемента   */
  margin-bottom: 0px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: flex;
  height: 44px;
  width: 44px;
  color: #AFB1B8;
  background-color: #FFFFFF;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover, .social-links__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}
.social-links__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.social-links__icon {
  fill: currentColor;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo__accent {
  color: #2196F3;
}

/** Лого в хедере */
.page-header__logo {
  margin-left: 50px;
  margin-right: 91px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/** Лого в футере */
.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  /**  Позволяет нажимать на кнопки под бэкдропом(оверлеем)    */
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  color: #757575;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
}
.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__title {
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.form-base {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.form-base__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-base__label {
  display: inline-block;
  margin-bottom: 4px;
  transition: transform 250ms linear;
}

.form-base__input {
  display: flex;
  align-items: center;
  padding: 12px;
  padding-left: 42px;
  margin: 0;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-base__input:focus {
  border: 1px solid #2196F3;
}

.form-base__comment {
  display: inline-block;
  margin-bottom: 4px;
}

.form-base__textarea {
  display: block;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}
.form-base__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-base__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-base__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-base__textarea:focus {
  border: 1px solid #2196F3;
}

/** Иконки форм   */
.form-base__icon-input {
  position: absolute;
  top: 18px;
  left: 0;
  display: inline-block;
  margin: 11px 12px;
  fill: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-base__input:focus ~ .form-base__icon-input {
  /** ~ - тильда выбирает всех последующих соседей. Применится ко всем елементам .form-icon которы будут по соседсву на одном уровне вложенности   */
  fill: #2196F3;
}

/** Еще один способ менять стили ( с использованием псевдокласса focus-within ) */
/** Можно применять с тем вариантом где мы избавились от id  */
/*  .modal .form-field:focus-within > .form-icon {
    fill: var(--accent-color);
   }

   .modal .form-field:focus-within > .form-label {
    transform: translateY(-50px);
   }

   .modal .form-input:not(:placeholder-shown)+.form-label{
    transform: translateY(-50px);
   } */
/** Когда вложеный элемент получает фокус то у родительского елемента (или у любого другого элемента вложеного в этого же родителя - если мы конкретно укажем этот елемент) менються стили */
/**  Допустим наш родитель  form-field, а элемент который получает фокус это form-input /*
       /** Тогда вот эта запись  ( form-field:focus-within ) изменить стили самого родителя form-field.   */
/**  А такая запись ( form-field:focus-within > .form-icon ) изменит стили иконки (то есть соседа form-input) */
/**  Чек-бокс формы    */
.form-base__checkbox-field {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 30px;
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.form-base__link {
  color: #2196F3;
}

.form-base__icon-checkbox--empty {
  margin-right: 9px;
  fill: #212121;
}

.form-base__icon-checkbox--checked {
  position: absolute;
  top: 4px;
  left: -1px;
  opacity: 0;
}

.form-base__checkbox {
  /** Первый вариант скрытия чек-бокса  */
  /*  -webkit-appearance: none;
      -moz-appearance: none; 
       appearance: none;  */
  /** второй вариант скрытия чек-бокса  */
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.form-base__checkbox:checked + .form-base__icon-checkbox--empty {
  fill: #2196F3;
  background-color: #2196F3;
  border-radius: 2px;
}
.form-base__checkbox:checked ~ .form-base__icon-checkbox--checked {
  opacity: 1;
}

/**  Кнопка формы    */
.form-base__button {
  padding: 10px 52px;
  min-width: 200px;
  height: 50px;
}

/** Header-page  */
.page-header {
  /*  position: fixed; */
  /*    top: 0;
  left: 0;
  z-index: 1;
  min-height: 80px;
  width: 100%; */
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.page-header__top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: inline-flex;
}

.site-nav__list {
  display: inline-flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current {
  position: relative;
  color: #2196F3;
}
.site-nav__link--current::after {
  display: inline-block;
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #2196F3;
  border-radius: 2px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.contacts {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
  fill: #2196F3;
}

/**Иконки */
.contacts__icon {
  margin-right: 10px;
}

/** Studio-page  */
.hero {
  background-color: #2F303A;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/hero.jpg);
  background-repeat: no-repeat;
  background: size 1600px 600px;
}

.hero__title {
  padding-top: 200px;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  margin-bottom: 200px;
}

.advantage__background-icon {
  width: 270px;
  height: 120px;
  display: inline-block;
  margin-bottom: 30px;
  padding: 25px;
  text-align: center;
  background-color: #F5F4FA;
}

.advantage__title {
  color: #212121;
  margin-bottom: 10px;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.specialization__title {
  color: #212121;
  margin-bottom: 50px;
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.specialization {
  padding-top: 0px;
}

.specialization__content {
  position: relative;
}

.specialization__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.specialization__description {
  margin-top: 27px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #F5F4FA;
}

.team__title {
  color: #212121;
  margin-bottom: 50px;
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-card {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.team-card__bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-card__title {
  color: #212121;
  margin-bottom: 10px;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-card__description {
  margin-bottom: 16px;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.clients__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/** Иконки секции "Постійні кліенти" */
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
  color: #188CE8;
}

.clients__icon {
  fill: currentColor;
}

/** Portfolio-page  */
/**Кнопки для Партфолио   */
.portfolio-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-nav__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-nav__item:not(:last-child):hover, .portfolio-nav__item:not(:last-child):focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio-nav__button {
  padding: 6px 22px;
}

.portfolio-nav__button--curent {
  padding: 6px 25px;
}

/** Анимация на карточках  */
.project:hover,
.project:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project__image {
  position: relative;
  overflow: hidden;
}

/** Как делать оверлей попсевдоклассу before */
/* .project-list .image::before {
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .project-list .image:hover::before {
    opacity: 1;
} */
.project__overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  transform: translateY(0);
}

.project__text {
  padding: 63px 24px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

/** Нижняя часть карточек*/
.project__bottom {
  padding: 20px 24px;
  border: 1px solid #ECECEC;
}

.project__title {
  margin-bottom: 4px;
  color: #212121;
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.project__type {
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/** Footer-page  */
.page-footer {
  background-color: #2F303A;
}

.page-footer__footer-menu {
  display: flex;
}

.page-footer__group {
  margin-top: 78px;
  margin-bottom: 42px;
  margin-right: 70px;
}

.info-list__item.list:not(:last-child) {
  margin-bottom: 9px;
}

.info-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-list__link:hover, .info-list__link:focus {
  color: #2196F3;
}
.info-list__link--white-text {
  color: #FFFFFF;
}

/** Соц сети в футере */
.social-links-group {
  display: inline-block;
  margin-top: 90px;
  margin-bottom: 82px;
  margin-right: 93px;
}

.social-links-group__title {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mailing {
  display: flex;
  margin-top: 90px;
  margin-bottom: 76px;
}

.mailing__title {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mailing__input {
  padding: 15px;
  margin-right: 12px;
  width: 358px;
  background-color: #2F303A;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}
.mailing__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.mailing__button {
  position: relative;
  margin-top: 36px;
  padding: 10px 28px;
}
.mailing__button::after {
  display: inline-block;
  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../../images/icon\ send1.svg);
  background-size: contain;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing__button::before {
  position: absolute;
  top: 50%;
  right: 36px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../../images/icon\ send1.svg);
  background-size: contain;
  transform: translateY(calc(-50% + 70px)) translateX(-80px);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), opacity 650ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.mailing__button:hover::after {
  transform: translateY(-200px) translateX(140px);
}
.mailing__button:hover::before {
  transform: translateY(-50%);
  opacity: 1;
}

/**   Анимация с самолетиком (позже сделаю при клике на кнопку)   *//*# sourceMappingURL=main.css.map */