@charset "UTF-8";
/** Utils  */ /** Сброс стилей списков  */
/** Общие характеристики кнопки  */
.portfolio-nav__button, .mailing__button, .portfolio-nav__button--curent, .hero__button, .form-base__button {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav__button:hover, .mailing__button:hover, .portfolio-nav__button--curent:hover, .hero__button:hover, .form-base__button:hover, .portfolio-nav__button:focus, .mailing__button:focus, .portfolio-nav__button--curent:focus, .hero__button:focus, .form-base__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.mailing__button, .portfolio-nav__button--curent, .hero__button, .form-base__button {
  color: #FFFFFF;
  background-color: #2196F3;
}
.mailing__button:hover, .portfolio-nav__button--curent:hover, .hero__button:hover, .form-base__button:hover, .mailing__button:focus, .portfolio-nav__button--curent:focus, .hero__button:focus, .form-base__button:focus {
  background-color: #188CE8;
}

.modal .modal__button-close {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  fill: #000000;
  border: 1px solid lightgray;
  border-radius: 50%;
  cursor: pointer;
}
.modal .modal__button-close:hover, .modal .modal__button-close:focus {
  fill: #2196F3;
}

.hidden {
  /**   Скрытие контента    */
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/** Common-settings  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
}
body.modal-open {
  overflow: hidden;
}
body.burger-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  padding: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/**  Сброс стилей у списков   */
.list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**Общий контейнер  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1170px) {
  .container {
    width: 1200px;
  }
}

/** Общий класс для всех секций  */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1170px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: flex;
  height: 44px;
  width: 44px;
  color: #AFB1B8;
  background-color: #FFFFFF;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover, .social-links__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}
.social-links__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.social-links__icon {
  fill: currentColor;
}

.logo {
  display: inline-flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo__accent {
  color: #2196F3;
}

/** Лого в хедере */
.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 87px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1170px) {
  .page-header__logo {
    margin-right: 92px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

/** Лого в футере */
.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  overflow-y: scroll; /** Чтоб прокручивалась модалка. Но теперь когда скрол достигает конца - начинает прокручиваться страница. Чтоб этого небыло нужно на боди добавить overflov hidden  но только в тот момент когда открыто модальное окно. Это делается спомощью JS. body.modal-open {overflow: hidden; } . В JS добавляем  document.body.classList.toggle("modal-open");  */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  /**  Позволяет нажимать на кнопки под бэкдропом(оверлеем)    */
}

.modal {
  position: relative;
  margin: 0, auto;
  padding: 40px;
  background-color: #FFFFFF;
  color: #757575;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 767px) {
  .modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  .backdrop--is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
@media screen and (min-width: 767px) and (max-width: 1169px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1170px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal .modal__title {
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
}
@media screen and (min-width: 1170px) {
  .modal .modal__title {
    line-height: 1.2;
  }
}
.modal .modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal .modal__button-close:hover, .modal .modal__button-close:focus {
  fill: #2196F3;
}

.form-base {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  color: #757575;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.form-base__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-base__label {
  display: inline-block;
  margin-bottom: 4px;
  transition: transform 250ms linear;
}

.form-base__input {
  display: flex;
  align-items: center;
  padding: 12px;
  padding-left: 42px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .form-base__input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
  .form-base__input {
    width: 370px;
  }
}
@media screen and (min-width: 1170px) {
  .form-base__input {
    width: 448px;
  }
}
.form-base__input:focus {
  border: 1px solid #2196F3;
}

.form-base__comment {
  display: inline-block;
  margin-bottom: 4px;
}

.form-base__textarea {
  display: block;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}
.form-base__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-base__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-base__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-base__textarea:focus {
  border: 1px solid #2196F3;
}
@media screen and (max-width: 767px) {
  .form-base__textarea {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
  .form-base__textarea {
    width: 370px;
  }
}
@media screen and (min-width: 1170px) {
  .form-base__textarea {
    width: 448px;
  }
}

/** Иконки форм   */
.form-base__icon-input {
  position: absolute;
  top: 18px;
  left: 0;
  display: inline-block;
  margin: 11px 12px;
  fill: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-base__input:focus ~ .form-base__icon-input {
  /** ~ - тильда выбирает всех последующих соседей. Применится ко всем елементам .form-icon которы будут по соседсву на одном уровне вложенности   */
  fill: #2196F3;
}

/** Еще один способ менять стили ( с использованием псевдокласса focus-within ) */
/** Можно применять с тем вариантом где мы избавились от id  */
/*  .modal .form-field:focus-within > .form-icon {
    fill: var(--accent-color);
   }

   .modal .form-field:focus-within > .form-label {
    transform: translateY(-50px);
   }

   .modal .form-input:not(:placeholder-shown)+.form-label{
    transform: translateY(-50px);
   } */
/** Когда вложеный элемент получает фокус то у родительского елемента (или у любого другого элемента вложеного в этого же родителя - если мы конкретно укажем этот елемент) менються стили */
/**  Допустим наш родитель  form-field, а элемент который получает фокус это form-input /*
       /** Тогда вот эта запись  ( form-field:focus-within ) изменить стили самого родителя form-field.   */
/**  А такая запись ( form-field:focus-within > .form-icon ) изменит стили иконки (то есть соседа form-input) */
/**  Чек-бокс формы    */
.form-base__checkbox-field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1169px) {
  .form-base__checkbox-field {
    font-size: 14px;
    line-height: 1.7;
  }
}

.form-base__link {
  color: #2196F3;
}

.form-base__icon-checkbox--empty {
  margin-right: 9px;
  fill: #212121;
}

.form-base__icon-checkbox--checked {
  position: absolute;
  top: 0px;
  left: -1px;
  opacity: 0;
}

.form-base__checkbox {
  /** Первый вариант скрытия чек-бокса  */
  /*  -webkit-appearance: none;
      -moz-appearance: none; 
       appearance: none;  */
  /** второй вариант скрытия чек-бокса  */
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.form-base__checkbox:checked + .form-base__icon-checkbox--empty {
  fill: #2196F3;
  background-color: #2196F3;
  border-radius: 2px;
}
.form-base__checkbox:checked ~ .form-base__icon-checkbox--checked {
  opacity: 1;
}

/**  Кнопка формы    */
.form-base__button {
  align-self: center;
  padding: 10px 52px;
  width: 200px;
  height: 50px;
}

/** Общие наборы карточек   */
@media screen and (max-width: 767px) {
  .list-set {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .list-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .list-set__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
  .list-set__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1170px) {
  .list-set__item {
    margin: 15px;
    flex-basis: calc((100% - 120px) / 4);
  }
}
@media screen and (min-width: 1170px) {
  .list-set__item--three-column {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .clients-item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
  .clients-item {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1170px) {
  .clients-item {
    margin: 15px;
    flex-basis: calc((100% - 180px) / 6);
  }
}

/** Header-page  */
.page-header {
  position: relative;
  /*  position: fixed; */
  /*    top: 0;
  left: 0;
  z-index: 1;
  min-height: 80px;
  width: 100%; */
  min-height: 60px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.page-header__top-menu {
  display: flex;
  align-items: center;
}

.menu-container {
  background-color: #FFFFFF;
  z-index: 2;
}
.menu-container.is-open {
  display: block;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.burger-social-links {
  display: flex;
}
@media screen and (min-width: 768px) {
  .burger-social-links {
    display: none;
  }
}

.burger-social-links__item:not(:last-child) {
  margin-right: 20px;
}

.burger-social-links__link {
  color: #2196F3;
}

.burger-button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.burger-button.is-open .burger-button__icon--open {
  display: none;
}

.burger-button.is-open .burger-button__icon--close {
  display: block;
}
.burger-button.is-open .burger-button__icon--close:hover, .burger-button.is-open .burger-button__icon--close:focus {
  fill: #2196F3;
}

.burger-button.is-open .burger-button--close {
  display: block;
}

.burger-button__icon--close {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .site-nav__item:last-child {
    margin-bottom: 306px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav__link--current {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 33px;
    font-size: 14px;
    line-height: 1.14;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link--current {
    position: relative;
    color: #2196F3;
  }
  .site-nav__link--current::after {
    display: inline-block;
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #2196F3;
    border-radius: 2px;
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196F3;
  }
}

.contacts {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1170px) {
  .contacts {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:first-child {
    margin-bottom: 64px;
  }
  .contacts__item:last-child {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1170px) {
  .contacts__item:first-child {
    margin-right: 30px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
  fill: #2196F3;
}
@media screen and (max-width: 767px) {
  .contacts__link {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .contacts__link--accent {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
  .contacts__link:first-child {
    padding-top: 17px;
  }
  .contacts__link:last-child {
    padding-bottom: 17px;
  }
}
@media screen and (min-width: 1170px) {
  .contacts__link {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 33px;
  }
}

/**Иконки */
.contacts__icon-envelope {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__icon-envelope {
    display: inline-block;
    width: 14px;
    height: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1170px) {
  .contacts__icon-envelope {
    width: 16px;
    height: 10px;
    margin-right: 10px;
  }
}

.contacts__icon-smartphone {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__icon-smartphone {
    display: inline-block;
    width: 10px;
    height: 14px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1170px) {
  .contacts__icon-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.menu-contaier.is-open .contacts__icon {
  display: none;
}

/** Studio-page  */
.hero {
  background-color: #2F303A;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mobile-x1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero-mobile-x2.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tablet-x1.jpg);
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero-tablet-x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-desktop-x1.jpg);
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/hero-desktop-x2.jpg);
  }
}

.hero__title {
  padding-top: 118px;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1170px) {
  .hero__title {
    padding-top: 200px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 24px;
  margin-bottom: 118px;
}

.advantage__background-icon {
  display: inline-block;
  margin-bottom: 30px;
  padding: 25px;
  text-align: center;
  width: 100%;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1170px) {
  .advantage__background-icon {
    width: 270px;
  }
}

.advantage__title {
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .advantage__title {
    text-align: left;
  }
}

.advantage__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1169px) {
  .specialization {
    display: none;
  }
}

.specialization__title {
  color: #212121;
  margin-bottom: 50px;
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.specialization {
  padding-top: 0px;
}

.specialization__content {
  position: relative;
}

.specialization__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.specialization__description {
  margin-top: 27px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #F5F4FA;
}

.team__title {
  color: #212121;
  margin-bottom: 50px;
  font-style: 400;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1170px) {
  .team__title {
    font-size: 36px;
  }
}

.team-card {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.team-card__bottom {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-card__title {
  color: #212121;
  margin-bottom: 10px;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-card__description {
  margin-bottom: 16px;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.clients__title {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1170px) {
  .clients__title {
    font-size: 36px;
  }
}

/** Иконки секции "Постійні кліенти" */
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
  color: #188CE8;
}

.clients__icon {
  fill: currentColor;
}

/** Portfolio-page  */
/**Кнопки для Партфолио   */
.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
  .portfolio-nav {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1170px) {
  .portfolio-nav {
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}

.portfolio-nav__item {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio-nav__item {
    margin-bottom: 15px;
  }
  .portfolio-nav__item:last-child {
    margin-bottom: 40px;
  }
}
.portfolio-nav__item:hover, .portfolio-nav__item:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio-nav__button {
  padding: 6px 22px;
}

.portfolio-nav__button--curent {
  padding: 6px 25px;
}

/** Анимация на карточках  */
.project:hover,
.project:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project__image-container {
  position: relative;
  overflow: hidden;
}

/** Как делать оверлей попсевдоклассу before */
/* .project-list .image::before {
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .project-list .image:hover::before {
    opacity: 1;
} */
.project__overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  transform: translateY(0);
}

.project__link {
  text-decoration: none;
}

.project__text {
  padding: 77px 24px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

/** Нижняя часть карточек*/
.project__bottom {
  padding: 20px 24px;
  border: 1px solid #ECECEC;
}

.project__title {
  margin-bottom: 4px;
  color: #212121;
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.project__type {
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/** Footer-page  */
.page-footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__footer-menu {
  text-align: center;
}
@media screen and (min-width: 1170px) {
  .page-footer__footer-menu {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1169px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1170px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-around;
  }
}

.page-footer__group {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .page-footer__group {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1170px) {
  .page-footer__group {
    margin-right: 70px;
  }
}

.info-list__item.list:not(:last-child) {
  margin-bottom: 8px;
}

.info-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-list__link:hover, .info-list__link:focus {
  color: #2196F3;
}
.info-list__link--white-text {
  color: #FFFFFF;
}

/** Соц сети в футере */
.social-links-group {
  display: inline-block;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
  .social-links-group {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1170px) {
  .social-links-group {
    margin-top: 12px;
  }
}

.social-links-group__title {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mailing__title {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 1170px) {
  .mailing__title {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1170px) {
  .mailing-group {
    display: flex;
    align-items: center;
  }
}

.mailing__input {
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  background-color: #2F303A;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}
.mailing__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 568px) {
  .mailing__input {
    width: 450px;
    margin-right: 12px;
  }
}
@media screen and (min-width: 1170px) {
  .mailing__input {
    margin-bottom: 0px;
    width: 358px;
  }
}

.mailing__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 10px 28px;
  max-width: 200px;
  height: 50px;
}
.mailing__button::after {
  display: inline-block;
  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../images/icon-send1.svg);
  background-size: contain;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing__button::before {
  position: absolute;
  top: 50%;
  right: 36px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../images/icon-send1.svg);
  background-size: contain;
  transform: translateY(calc(-50% + 70px)) translateX(-80px);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), opacity 650ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.mailing__button:hover::after {
  transform: translateY(-200px) translateX(140px);
}
.mailing__button:hover::before {
  transform: translateY(-50%);
  opacity: 1;
}
@media screen and (min-width: 1170px) {
  .mailing__button {
    display: inline-block;
    align-self: flex-end;
  }
}/*# sourceMappingURL=main.css.map */