.page-footer {
    background-color: $secondary-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer__footer-menu {
    text-align: center;

        @media screen and (min-width: 1170px) {
            display: flex;  
            justify-content: space-between;
        }
}

.page-footer__wrapper {

    @media screen and (min-width: 768px) and (max-width: 1169px) {
        display: flex;
        justify-content:space-between;
    
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1170px) {
        display: flex;
        justify-content: space-around;

    }
}

.page-footer__group {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0px;
    }

    @media screen and (min-width: 1170px) {
        margin-right: 70px;

    }
}

.info-list__item.list:not(:last-child) {
    margin-bottom: 8px;
}

.info-list__link {
    color: rgb(255, 255, 255, 0.6);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: $accent-color;
        }

    &--white-text {
            color: $accent-white-color;
        }
}

/** Соц сети в футере */


.social-links-group {
    display: inline-block;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) and (max-width: 1169px) {
        margin-top: 5px;
    }

    @media screen and (min-width: 1170px) {
        margin-top: 12px;
    }
}

.social-links-group__title {
    margin-bottom: 20px;

    color: $accent-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}