    //* Colors   */
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196F3;
    $accent-btn-color: #188CE8;
    $accent-white-color: #FFFFFF;
    $accent-black-color: #000000;
    $primary-bg-color: #F5F5F5;
    $secondary-bg-color: #2F303A;
    $secondary-btn-color: #F5F4FA;
    $border-color: #ECECEC;
    $icon-color: #AFB1B8;
    $project-overlay: rgba(33, 150, 243, 0.9);

    //*  Fonts    */

    $primary-text-fonts: Roboto;
    $accent-text-fonts: Raleway;


