*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background: $accent-white-color;
    color: $primary-text-color;
    font-family: $primary-text-fonts, sans-serif;

    &.modal-open {
            overflow: hidden;
        }

    &.burger-open {
        overflow: hidden;
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    padding: 0px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/**  Сброс стилей у списков   */

.list-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

/**Общий контейнер  */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
            width: 100%;
    }

    @media screen and (min-width: 768px) {
            width: 768px;

    }

    @media screen and (min-width: 1170px) {
            width: 1200px;
    }
}

/** Общий класс для всех секций  */
.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1170px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }

}