.logo {
    display: inline-flex;
    align-items: center;
    font-family: $primary-text-fonts, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: $accent-black-color;
}

.logo__accent {
    color: $accent-color;
} 

/** Лого в хедере */

.page-header__logo {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
            margin-right: 87px;
            padding-top: 26px;
            padding-bottom: 26px;
        }

    @media screen and (min-width: 1170px) {
            margin-right: 92px;
            padding-top: 24px;
            padding-bottom: 25px;
    }
}

/** Лого в футере */

.page-footer__logo {
    display: inline-block;
    margin-bottom: 20px;
    color: $accent-white-color;
}