.modal {
    position: relative;
    margin: 0, auto;
    padding: 40px;
    background-color: $accent-white-color;
    color: $primary-text-color;

    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    border-radius: 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);

        @media screen and (min-width: 767px) {
            position: absolute;
            padding: 40px;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%) scale(1);

            .backdrop--is-hidden & {
                    transform: translate(-50%, -50%) scale(0.9);
                }
        }

        @media screen and (min-width: 767px) and (max-width: 1169px) {
            width: 450px;
            height: 609px;
        }

        @media screen and (min-width: 1170px) {
            width: 528px;
            height: 581px;
        }

.modal__title {
        margin-bottom: 12px;

        color: $title-text-color;

        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: none;

        @media screen and (min-width: 1170px){
            line-height: 1.2;
        }
}

.modal__button-close {

        @extend %button-close;
        position: absolute;
        top: 8px;
        right: 8px;
        
        &:hover,
        &:focus {
            fill: $accent-color;
        }
    }
}

